POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=transactions_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5433

CUSTOMER_RATE=5
ACCOUNT_RATE=10
TRANSACTION_RATE=100
MERCHANT_RATE=5

KAFKA_BOOTSTRAP_SERVER=kafka_broker_1:19092,kafka_broker_2:19092,kafka_broker_3:19092

REDIS_HOST=localhost
REDIS_PORT=6379
